[Unit]
Description=jellyfin

[Container]
Image=docker.io/jellyfin/jellyfin
AutoUpdate=registry

# add services network for cloudflared
Network=system-services.network
# add host network for multicast
Network=host

Volume=jellyfin-conf:/config
Volume=/srv/media/cache/jellyfin:/cache
Volume=/srv/media/videos:/videos:ro

[Install]
WantedBy=multi-user.target
