[Unit]
Description=smartmontools

[Container]
Image=ghcr.io/computator/smartmontools
AutoUpdate=registry
Network=system-services.network

PodmanArgs=--privileged

Environment=MAILNAME=%H
Environment=SMARTHOST=smtp-proxy
Environment=REPORT_EMAIL=root@localhost

Volume=smartmontools:/var/lib/smartmontools

[Install]
WantedBy=multi-user.target
