[Unit]
Description=Samba smbd

[Container]
Image=ghcr.io/computator/smbd
AutoUpdate=registry
# use host network so Multichannel + RSS work
Network=host

Environment=NO_DEFAULT_SHARE=1

PodmanArgs=--hostuser=1000

Volume=/etc/containers/systemd/conf/smbd-media.conf:/etc/samba/shares.d/media.conf:ro
Volume=/srv/media:/srv

Volume=smbd-data:/var/lib/samba

[Install]
WantedBy=multi-user.target
