[Unit]
Description=Update Recent

[Container]
Image=ghcr.io/computator/update-recent

Volume=/srv/media/videos:/data

# for multiple dirs
Exec=sh -c 'for i in movies shows; do update_recent.sh "/data/$i"; done'
