[Unit]
Description=Update Recent
RequiresMountsFor=/srv/media/videos
OnFailure=email-unit-invocation-logs@%n.service

[Container]
Image=ghcr.io/computator/update-recent
AutoUpdate=registry
Network=none

Volume=/srv/media/videos:/data

# for multiple dirs
Exec=sh -c 'for i in movies shows; do update_recent.sh "/data/$i"; done'
